
/*song animation */
@keyframes change {
    from {background-color: gray;}
    to {background-color: white;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes change {
    from {background-color:gray;}
    to {background-color: white;}
}

/*layout of the left and right pannel*/
.leftcontrol{
    
   padding:10px;
   margin-
   
    
    
}

@media screen and (min-width: 900px) {

    
}

/* content is sent to the left*/


.mytextedit{
    color:white;
    text-decoration: overline;
    text-decoration-color: #ab1717;
    
    
}

.mytextedit2{
    color:#ff6347;
    text-decoration: overline;
    text-decoration-color: #ab1717;
    font-size:17px;
    
    
    
}

.alive:hover{
    
    color:#00ff7f;
    border-style:inset;
    border-color: #00ff7f;
    background-color:gray;
    -webkit-animation-name: change; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: change;
    animation-duration: 4s;

    
}

.mytextedit2:hover{
    color:#00ff7f;
    text-decoration: overline;
    text-decoration-color: #00ff7f;
    font-size:18px;
    
    
    
    
}

.borderup:hover{
    
    height:180px;
    width:130px;
    background-color:gray;
    border-color: #00ff7f;
    border-style:inset;
    
    
}




.mytextedit:hover{
    
    color:#888;
    text-decoration: overline;
    text-decoration-color: green;
}




.sidepage
{
    
    background-color: none;
    height: auto;
    border-top-color:  none;
   
    
    
    
    
    
    
}
.mainpage
{
    background-color: none;
    color:white;
    border-top-color:red;
    padding:9px;
   
    
    
}

.borderup{
    
    height:180px;
    width:130px;
    background-color:gray;
    border-color:red;
    border-style:outset;
    
    
}

.space{
    margin-bottom:10px;
    margin-top:7px;
    
    
}


